@import "./colors";
@import "./components";
@import "./mixins";

*,
*:before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; //10px
    scroll-behavior: smooth;
}

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;

}